<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Diri</title>
</head>
<body>

    {% include 'header.html' %}
        <div class="container-fluid isi">
            <h2>KRS</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Kode</th>
                    <th scope="col">Mata Kuliah</th>
                    <th scope="col">SKS</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{ kode }}</th>
                    <td>{{ matkul }}</td>
                    <td>{{ sks }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>
