<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Diri</title>
</head>
<body>

    {% include 'header.html' %}
        <div class="container-fluid isi" >
            <h2>Laporan Nilai</h2>
            <ul>
                <li>
                    <div class="row">
                        <div class="col-2">
                            <strong>IPK</strong>
                        </div>
                        <div class="col-10">: {{ ipk }}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-2">
                            <strong>Total SKS</strong>
                        </div>
                        <div class="col-10">: {{ sks }}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-2">
                            <strong>Status</strong>
                        </div>
                        <div class="col-10">: Aktif
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>
